@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v14/ijwOs5juQtsyLLR5jN4cxBEoREP-0uYVLg.ttf) format('truetype');
}
